.form {
    display: flex;
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px 0;
    background-color: #F6F6F6;
    padding: 0 96px;
    gap: 29px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 3rem;
}

.form h2{
    align-self: center;
    font-family: 'Prata';
    font-weight: 400;
    font-size: 2em;
}    
